{% extends "_base.html" %}
{% block content %}
<p align="justify">A large quantity of published data is available only in the form of plots and it is often difficult to extract numerical data accurately out of these pictures. There are several softwares available to aid this process, but most are either paid or poorly written. Also, most of the existing programs require Microsoft Windows to work and support only 2D X-Y plots. Due to these limitations WebPlotDigitizer has been developed to facilitate easy and accurate data extraction from a variety of plot types and also maps. This program is built using HTML5 which allows it to run within a browser and requires no installation on to the user's hard drive.</p>
{% endblock %}
