body {
    /* background-color: #222222; */
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size:15px;
    color: black;
}

table {
    border-collapse: collapse;
}

img {
    border: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:32pt;
    color: #ffffaa;
    font-weight: normal;
    margin: 0 0 10px 0;
}

#mainTable {
    margin: auto;
    width: 100%;
    max-width: 950px;
    margin-top:20px;
}

#headerTop {
    display: inline-block;
    width: 100%;
    padding-top:5px;
}

#mainTitle {
    display:inline-block;
    float:left;
    margin-left:15px;
}

#sidebarTD {
    width: 180px;
    font-size:18pt;
    line-height:0.5em;
}

#sidebarTD a {
    text-decoration: none;
    color: #ffffaa;
}

#sidebarTD a:hover {
    color: lime;
}

#contentTD {
    padding-left: 25px;
    padding-right: 25px;
    background: #fff;
    border-radius: 10px;
}

#footerText {
    font-size: 80%;
    color: #cccccc;
}

#navigationMenu {
    font-size: 18pt;
}

#navigationMenu a {
    text-decoration: none;
    color: orange;
}

#navigationMenu a:hover {
    color: lime;
}

#donateButton {
    display: inline-block;
    width: 200px;
    float:right;
    margin-top: 10px;
    margin-right: -35px;
}

p {
    line-height: 1.8em;
    margin: 0;
    padding: 0;
}

ul > li {
    line-height: 1.5em;
}

ol > li {
    line-height: 1.5em;
}

.pagePost h2 {
    margin-top: 4px;
    margin-left: 10px;
}

.pagePost h2 a {
    text-decoration: none;
    color: #333333;
}

.pagePost img {
    border: thin #888888 solid;
    box-shadow: 0px 0px 10px #888888;
}

.smallText {
    font-size: 90%;
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    height: 1px;
    background-color: #888888;
}

.pagePost {
    margin-bottom:40px;
}

.pagePost p {
    margin-left: 20px;
}

