body {
    background-color: #fff;
    background-repeat: repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color: black;
}

table {
    border-collapse: collapse;
}

img {
    border: none;
}

#mainTable {
    background-color: #ffffff;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

#headerTop {
    display: inline-block;
    width: 100%;
    padding-top:5px;
}

#mainTitle {
    display:inline-block;
    float:left;
    margin-left:15px;
}

#websiteTitle a {
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f3266;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    color: #1f3266;
}

#mainTitleSubText {
    font-size: 14px;
}

#sidebarTD {
    width: 180px;
}

#contentTD {
    padding-left: 25px;
    padding-right: 25px;
}

#footerText {
    font-size: 80%;
}

#navigationMenu {
    background-color: #1f3266;
    font-size: 100%;
    padding: 5px;
    padding-left: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

#navigationMenu a {
    text-decoration: none;
    color: white;
}

#navigationMenu a:hover {
    color: cyan;
}

#donateButton {
    display: inline-block;
    width: 200px;
    float:right;
    margin-top: 10px;
    margin-right: -35px;
}

p {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

ul > li {
    line-height: 1.5em;
}

ol > li {
    line-height: 1.5em;
}

.pagePost h2 {
    margin-top: 4px;
    margin-left: 10px;
}

.pagePost h2 a {
    text-decoration: none;
    color: #aa5555;
}

.pagePost img {
    border: thin #888888 solid;
    box-shadow: 0px 0px 10px #888888;
}

.smallText {
    font-size: 90%;
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    height: 1px;
    background-color: #dddddd;
}

.pagePost {
    margin-bottom:40px;
}

.pagePost p {
    margin-left: 20px;
}

.sidebarButtons {
    border-radius: 3px;
    padding: 10px;
    font-size: 90%;
    width: 150px;
    margin: 5px;
    background-color: #444444;
    border: none;
    color: white;
}

.launchButton {
    border-radius: 3px;
    padding: 10px;
    font-size: 1.1em;
    width: 150px;
    margin: 5px;
    background-color: #008800;
    border: none;
    color: white;
}

.sidebarButtons:hover {
    background-color: #777777;
    box-shadow: 0 0 4px yellow;
}

.launchButton:hover {
    background-color: #00aa00;
    box-shadow: 0 0 4px yellow;
}
