<!DOCTYPE html>
<html>
<head>
<title>WebPlotDigitizer - Extract data from plots, images, and maps</title>
<link rel="stylesheet" href="{{ base_dir }}css/styles.css">
</head>
<body>
<table id="mainTable" cellpadding="10">
<tr>
    <td colspan="2">
        <div id="headerTop">
            <div id="mainTitle">
                <table>
                    <tr><td><span id="websiteTitle">WebPlotDigitizer</span></td></tr>
                    <tr><td><span id="websiteSubtitle">Web based tool to extract data from plots, images, and maps</span></td></tr>
                </table>
            </div>
            <div id="donateButton">
            {% include "_paypal.html" %}
            </div>
        </div>
        <div id="navigationMenu">
            <a href="{{ base_dir }}index.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="{{ base_dir }}development.html">Development</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ base_dir }}citation.html">Citation</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ base_dir }}blog/index.html">News</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ base_dir }}tutorial.html">Tutorials</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </td>
    </tr>
<tr>
    <td id="contentTD" valign="top">
    {% block content %}{% endblock %}
    </td>
    <td id="sidebarTD" valign="top">
        <center>
        <p><form action="http://arohatgi.info/WebPlotDigitizer/app" target="_blank"><input type="submit" value="Launch App!" class="launchButton"/></form></p>
        <p><form action="https://chrome.google.com/webstore/detail/blomnnpciekdhecimpnjfcchdicopdii" target="_blank"><input type="submit" value="Chrome App Store" class="sidebarButtons"/></form></p>
        <p><form action="http://arohatgi.info/WebPlotDigitizer/beta" target="_blank"><input type="submit" value="Try Beta Version" class="sidebarButtons"/></form></p>
        <p><form action="http://github.com/ankitrohatgi/WebPlotDigitizer" target="_blank"><input type="submit" value="GitHub" class="sidebarButtons"/></form></p>
        <p>&nbsp;</p>
        <p><a href="http://www.gnu.org/licenses/quick-guide-gplv3.html" target="_blank"><img src="{{ base_dir }}images/gplv3.png" width="120"/></a></p>
    </center>
    </td>
</tr>
<tr>
    <td colspan="2">
        <hr/>
        <p align="right" id="footerText">Copyright &copy; 2010-2014, Ankit Rohatgi - All Rights Reserved.</p>
    </td>
</tr>
</table>
</body>
</html>
