<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="Description" content="WebPlotDigitizer - Web based tool to extract numerical data from plots, images and maps."/>
<meta name="Keywords" content="Plot, Digitizer, WebPlotDigitizer, Ankit Rohatgi, Extract Data, Convert Plots, XY, Polar, Ternary, Map, HTML5, Distance, Measurement, Image Processing"/>
<meta name="Author" content="Ankit Rohatgi"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>WebPlotDigitizer - Extract data from plots, images, and maps</title>
<link rel="stylesheet" href="{{ base_dir }}css/styles.css">
</head>
<body>
<table id="mainTable" cellpadding="10">
<tr>
    <td colspan="2">
        <div id="headerTop">
            <div id="mainTitle">
                <table>
                    <tr><td><span id="websiteTitle">WebPlotDigitizer</span></td></tr>
                    <tr><td><span id="websiteSubtitle">Web based tool to extract data from plots, images, and maps</span></td></tr>
                </table>
            </div>
            <div id="donateButton">
            {% include "_paypal.html" %}
            </div>
        </div>
        <div id="navigationMenu">
            <a href="{{ base_dir }}index.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="{{ base_dir }}development.html">Development</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ base_dir }}citation.html">Citation</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ base_dir }}blog/index.html">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ base_dir }}tutorial.html">Tutorials</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </td>
    </tr>
<tr>
    <td id="contentTD" valign="top">
    {% block content %}{% endblock %}
    </td>
    <td id="sidebarTD" valign="top">
        <center>
        <p><form action="http://arohatgi.info/WebPlotDigitizer/app" target="_blank"><input type="submit" value="Launch App!" class="launchButton"/></form></p>
        <p><form action="https://chrome.google.com/webstore/detail/blomnnpciekdhecimpnjfcchdicopdii" target="_blank"><input type="submit" value="Chrome App Store" class="sidebarButtons"/></form></p>
        <p><form action="http://arohatgi.info/WebPlotDigitizer/beta" target="_blank"><input type="submit" value="Try Beta Version" class="sidebarButtons"/></form></p>
        <p><form action="http://github.com/ankitrohatgi/WebPlotDigitizer" target="_blank"><input type="submit" value="GitHub" class="sidebarButtons"/></form></p>
        <p>&nbsp;</p>
        <p><a href="http://dx.doi.org/10.5281/zenodo.10532"><img src="https://zenodo.org/badge/doi/10.5281/zenodo.10532.png" alt="10.5281/zenodo.10532"><a></p>
        <p>&nbsp;</p>
        <p><a href="https://groups.google.com/d/forum/image-digitization" style="text-decoration:none;">Discussion Forum</a></p>
        <p>&nbsp;</p>
        <p><a href="http://arohatgi.info/WebPlotDigitizer/blog/WebPlotDigitizer.rss" style="text-decoration:none;"/><img src="{{ base_dir }}images/feed-icon-14x14.png" width="14"/> RSS Feed</a></p>
        <br/>
        <p><a href="https://twitter.com/ankit_rohatgi" class="twitter-follow-button" data-show-count="false">Follow @ankit_rohatgi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        <br/>
        <p><a href="http://www.gnu.org/licenses/quick-guide-gplv3.html" target="_blank"><img src="{{ base_dir }}images/gplv3.png" width="120"/></a></p>
        </center>
    </td>
</tr>
<tr>
    <td colspan="2">
        <hr/>
        <p align="right" id="footerText">Copyright &copy; 2010-2014, Ankit Rohatgi - All Rights Reserved.</p>
    </td>
</tr>
</table>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=6256297; 
var sc_invisible=1; 
var sc_security="b2176e6a"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="create counter"
href="http://statcounter.com/free-hit-counter/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/6256297/0/b2176e6a/1/"
alt="create counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-7592120-2', 'arohatgi.info');
  ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

</body>
</html>
