{% extends "_base.html" %}
{% block content %}
<h2>Blog</h2>
{% for post in posts %}
<div class="pagePost">
<h2><a href="posts/{{ post.fileName }}">{{ post.title }}</a></h2>
<p class="smallText">{{ post.date }}</p>
<br/>
<p>{{ post.content }}</p>
</div>
{% endfor %}
<br/>

{% if pageInfo.pageCount > 1 %}
<p align="center">Page: 
    {% for pi in range(1,pageInfo.pageCount+1) %}
        {% if pi == pageInfo.pageNumber %}<b>[{% endif %}
        {% if pi == 1 %}
        <a href="index.html">{{ pi }}</a>
        {% else %}
        <a href="page{{ pi }}.html">{{ pi }}</a>
        {% endif %}
        {% if pi == pageInfo.pageNumber %}]</b>{% endif %}
        &nbsp;
    {% endfor %}
</p>
{% endif %}

{% endblock %}
