{% extends "_base.html" %}
{% block content %}
<h2>Citation</h2>
<p>If you wish to cite this software in your work, then you can use the following information:</p>
<p>&nbsp;</p>
<div style="margin-left:30px;">
<p>Author: Ankit Rohatgi</p>
<p>Title: WebPlotDigitizer</p>
<p>Website: http://arohatgi.info/WebPlotDigitizer</p>
<p>Version: 3.8<p>
<p>Date: May, 2015<p>
<p>E-Mail: ankitrohatgi@hotmail.com</p>
</div>

<h3>Articles Citing WebPlotDigitizer</h3>
<p>Below is a partial list of articles citing WebPlotDigitizer in their work. For more publications, search on <a href="http://scholar.google.com/scholar?q=WebPlotDigitizer" target="_blank">Google Scholar</a>.</p>

<ol>
<li>V. L. Dantas &amp; J. G. Pausas, The lanky and the corky: fire-escape strategies in The lanky and the corky: fire-escape strategies in savanna woody species, J. Ecol.  101  1265-1272 (2013)</li>
<li>E. R. Worchel, H. E. Giauque and S. N. Kivlin, Fungal Symbionts Alter Plant Drought Response, Microbial Ecol.  65  671-678 (2013)</li>
<li>F. Siaw, K. Chong and C. Wong, A comprehensive study of dense-array concentrator photovoltaic system using non-imaging planar concentrator, Renew. Energ.  62  542-555 (2014)</li>

<li>S. Mukherjee, S. Seok and V. J. Vieland and J. Das, Cell responses only partially shape cell-to-cell variations in protein abundances in Escherichia coli chemotaxis, PNAS    doi: 10.1073/pnas.1311069110  (2013)</li>
<li>S. Mukherjee, S. Seok and V. J. Vieland and J. Das, Data-driven quantification of robustness and sensitivity of cell signaling networks, arXiv:1305.3902v2 [q-bio.QM] (2013)</li>
<li>T. J. Hoogeboom et. al., Therapeutic validity and effectiveness of preoperative exercise on functional recovery after joint replacement: a systematic review and meta-analysis, PloS one  7 (2012)</li>
<li>K. G. Lloyd et. al., Meta-Analysis of Quantification Methods Shows that Archaea and Bacteria Have Similar Abundances in the Subseafloor, Am. Soc. Microbiol.  79  7790-7799  (2013)</li>
<li>A. Odutayo and M. Hladunewich, Obstetric Nephrology: Renal Hemodynamic and Metabolic Physiology in Normal Pregnancy, Am. Soc. Nephrol.  7  2073-2080  (2012)</li>
<li>T. P. Hauser et. al., Combined effects of arthropod herbivores and phytopathogens on plant performance, Funct. Ecol.  27  623-632  (2013)</li>
<li>S. N. Kivlin, S. M. Emery and J. A. Rudgers, Fungal symbionts alter plant responses to global change, Am. J. Bot.  100  1229-1233  (2013)</li>
<li>J. Rutkowska et al., All eggs are made equal: meta-analysis of egg sexual size dimorphism in birds, J. Evolution Biol., 27(1) 153-160 (2014)</li>
<li>J. Papuga, Quest for Fatigue Limit Prediction Under Multiaxial Loading, Procedia Eng., 66 587-597 (2013)</li>
<li>K. M. Silva and F. J. Silva, Ages of Top Male and Female Money-Making Actors: 1932 to 2012, Media Psychology Review (Online).</li>
<li>I. Kuo, B. S. Akpa, Validity of the Lipid Sink as a Mechanism for the Reversal of Local Anesthetic Systemic Toxicity: A Physiologically Based Pharmacokinetic Model Study, Anesthesiology, 118(6) 1350-1361 (2013)</li>
<li>A. J. Ruiter et al., The effect of helium accretion efficiency on rates of Type Ia supernovae: double-detonations in accreting binaries, Mon. Not. R. Astron. Soc., 1-5 (2014)</li>
<li>B. Soderstrom, What are the effects of agricultural management on soil organic carbon (SOC) stocks?, Environmental Evidence, 3(2) (2014)</li>
<li>A. W. M. Diah et al., An investigation of the doping efficiency of poly(styrene sulfonic acid) in poly(3,4-ethylenedioxythiophene)/ poly(styrene sulfonic acid) dispersions by capillary electrophoresis, Electrophoresis, DOI: 10.1002/elps.201400056 (2014)</li>
<li>F. Wagner et al., Pan-Tropical Analysis of Climate Effects on Seasonal Tree Growth, PLoS ONE 9(3): e92337. doi:10.1371/journal.pone.0092337 (2014)</li>
<li>A. Studer and R. Poulin, Analysis of trait mean and variability versus temperature in trematode cercariae: is there scope for adaptation to global warming?, Int. J. Parasitol., http://dx.doi.org/10.1016/j.ijpara.2014.02.006 (2014)</li>
<li>F. A . Wright et al., Heritability and genomics of gene expression in peripheral blood, Nature Genetics 46, 430-437 (2014)</li>
<li>W. Teka et al., Neuronal Spike Timing Adaptation Described with a Fractional Leaky Integrate-and-Fire Model, PLoS Comput Biol 10(3): e1003526. doi:10.1371/journal.pcbi.1003526 (2014)</li>
<li>R. M. Auge et al. Arbuscular mycorrhizal symbiosis alters stomatal conductance of host plants more under drought than under amply watered conditions: a meta-analysis, Mycorrhiza (2014) doi:10.1007/s00572-014-0585-4</li>
<li>M. E. Anderson and J. N. Bregman, Modeling X-ray emission around galaxies, ApJ (2014), doi:10.1088/0004-637X/785/1/67</li>
<li>L. A De Stefano et al. The First Order Transfer Function in the Analysis of Agrochemical Data in Honey Bees (Apis Mellifera L.): Proboscis Extension Reflex (PER) Studies, Insects 5(1) 167-198 (2014), doi:10.3390/insects5010167</li>
</ol>
{% endblock %}
