{% extends "_base.html" %}
{% block content %}
<h2>Development</h2>

<p>
The latest code can be found on GitHub: <a href="http://www.github.com/ankitrohatgi/WebPlotDigitizer/" target="_blank">http://www.github.com/ankitrohatgi/WebPlotDigitizer</a>
</p>
<br/>

<p>
Please note that the master branch contains the most bleeding edge code and is not guaranteed to be stable. The versions deployed on the website are the stable snapshots that are taken time to time when certain milestones have been achieved. The current and past stable releases of this project can be downloaded from here: <a title="https://github.com/ankitrohatgi/WebPlotDigitizer/releases" href="https://github.com/ankitrohatgi/WebPlotDigitizer/releases" target="_blank">https://github.com/ankitrohatgi/WebPlotDigitizer/releases</a>.
</p>
<br/>
<br/>

<p><b>Feature Requests and Bug Reports</b></p>
<br/>
<p>
To request new features or to report problems, feel free to drop me an email on ankitrohatgi@hotmail.com or use the issue tracker on GitHub: <a title="https://github.com/ankitrohatgi/WebPlotDigitizer/issues" href="https://github.com/ankitrohatgi/WebPlotDigitizer/issues">https://github.com/ankitrohatgi/WebPlotDigitizer/issues</a>
</p>
<br/>
<br/>

<p><b>Collaborations and Extensions</b></p>
<br/>
<p>
Drop me an email on ankitrohatgi@hotmail.com and we can have a chat.
</p>
<br/>

<br/>
<p><b>Donate</b></p>
<br/>
<p>
If you like this project and want it to grow further, you can donate using the PayPal "Donate" button on the right side. If you wish to donate by other means then email me on: ankitrohatgi@hotmail.com and we can work it out.</p>
<br/>
<p>
I am grateful for the donations I have received so far and it certainly keeps me motivated to keep improving this program. The donations also make it feasible for me to keep paying for a good hosting service for this project.
</p>
{% endblock %}
