{% extends "_base.html" %}
{% block content %}
<h2>Download</h2>
<p><a href="http://arohatgi.info/WebPlotDigitizer/Downloads/WebPlotDigitizer-3.5-Desktop.zip">Click here to download</a> an offline version of WebPlotDigitizer. At the moment, this will only work on Windows 7 or newer.</p>
<h3>What is this?</h3>
<p>This is just the online app re-packaged to into a downloadable form that can be run without internet connectivity. This simply hosts WebPlotDigitizer on your machine using the <a href="https://code.google.com/p/phpdesktop/">PHP Desktop</a> distribution.</p>
<h3>Other operating systems and deployment options:</h3>
<p>WebPlotDigitizer can be hosted on any computer with a HTTP server with PHP support. Just download the <a href="https://github.com/ankitrohatgi/WebPlotDigitizer/releases">latest stable release from GitHub</a> and extract it into a folder hosted on the HTTP server. You can also use <a href="http://php.net/manual/en/features.commandline.webserver.php">PHP's built-in web server</a>. You are free to download and host WebPlotDigitizer on your machine, personal or corporate network.</p>
<h3>Will there be a made-for-desktop version in the future?</h3>
<p>Batch processing a large number of images, extracting plots from documents and running complicated image processing algorithms will be more feasible with a made-for-desktop version. Unfortunately, I do not have the funding to pursue this at the moment. If you wish to help, then feel free to contact me.</p>
{% endblock %}
