{% extends "_base.html" %}
{% block content %}
<h2>Purpose</h2>
<p align="justify">A large quantity of published data is available only in the form of plots and it is often difficult to extract numerical data accurately out of these pictures. There are several softwares available to aid this process, but most are either paid, difficult to use or lack some essential features. Also, many of the existing programs work only on a few specific operating systems and require installation by the user. Most programs only support 2D X-Y plots and so it is not possible to work with polar diagrams, ternary diagrams, microscope images or maps. With these issues in mind, WebPlotDigitizer was developed to be an easy to use, free of charge and opensource program that can work with a variety of plot types and images. This program is developed using HTML5 which allows it to run within a web browser and requires no installation on to the user's hard drive.</p>

<h2>Features</h2>
<ul>
	<li>Web based. No installation needed. Just click the launch button here and start working!</li>
	<li>Supports XY charts (even skewed and non-orthogonal), polar plots, ternary diagrams and maps.</li>
	<li>Automatic curve extraction algorithms aid rapid extraction of a large number of points.</li>
	<li>Generates data in .CSV format which can be used by any data analysis program like Excel, OpenOffice, Origin etc.</li>
	<li>A zoomed in view on the side aids accurate selection of data points.</li>
	<li>Free of charge and distributed under the GNU General Public License Version 3.</li>
</ul>

<h2>Version 3.4 Released (September 22, 2014)</h2>
<p>Release notes are <a href="http://arohatgi.info/WebPlotDigitizer/app/release_notes.txt">available here</a>. The updated user manual is <a href="http://arohatgi.info/WebPlotDigitizer/userManual.pdf" target="_blank">available here</a>.</p>
<p>&nbsp;</p>
<center>
<iframe width="560" height="315" src="http://www.youtube.com/embed/G8KPVVFrb6U" frameborder="0" allowfullscreen></iframe>
</center>
<p>&nbsp;</p>

<h2>Developer Bio</h2>
<p>Ankit Rohatgi [E-Mail: ankitrohatgi@hotmail.com, LinkedIn: <a href="https://www.linkedin.com/in/rohatgi" target="_blank">https://www.linkedin.com/in/rohatgi</a>]</p>
<p>&nbsp;</p>
<p>
I obtained my PhD in Chemical Engineering from the University of Notre Dame in 2012 and B.Tech. in Chemical Engineering from the Indian Institute of Technology, Kanpur in 2007. I grew up in Delhi, India and am currently located in Austin, Texas. I am currently employed as a Software Developer working on engineering simulation software. My interests include computer programming, applied mathematics, photography and electronics. I enjoy creating, deconstructing and repairing many things. WebPlotDigitizer was initially developed during free weekends and nights while I was studying at Notre Dame since I needed such a software myself. Since then, I have kept making small improvements to this program in my spare time.
</p>

{% endblock %}
