{% extends "_base.html" %}
{% block content %}
<h2>Purpose</h2>
<p align="justify">A large quantity of published data is available only in the form of plots and it is often difficult to extract numerical data accurately out of these pictures. There are several softwares available to aid this process, but most are either paid, difficult to use or lack some essential features. Also, many of the existing programs work only on a few specific operating systems and require installation by the user. Most programs only support 2D X-Y plots and so it is not possible to work with polar diagrams, ternary diagrams, microscope images or maps. With these issues in mind, WebPlotDigitizer was developed to be an easy to use, free of charge and opensource program that can work with a variety of plot types and images. This program is developed using HTML5 which allows it to run within a web browser and requires no installation on to the user's hard drive.</p>
<h2>Features</h2>
<ul>
	<li>Web based. No installation needed. Just click the launch button here and start working!</li>
	<li>Supports XY charts (even skewed and non-orthogonal), polar plots, ternary diagrams and maps.</li>
	<li>Automatic curve extraction algorithms aid rapid extraction of a large number of data points.</li>
	<li>Distance and angle measurement tools for making measurements on maps and microscope images.</li>
	<li>Generates data in .CSV format which can be used by many data analysis programs (e.g. Excel, OpenOffice etc.).</li>
	<li>User scriptable in Javascript.</li>
	<li>Free of charge and distributed under the GNU General Public License Version 3.</li>
</ul>
<br/>
<center>
<a href="images/wpd.png"><img src="images/wpd-scaled.png" width="560" style="border:thin #888888 solid; box-shadow: 0 0 10px #444444;"></img></a>
</center>
<br/>
<h2>Version 3.6 Released (January 17, 2015)</h2>
<p>Release notes are <a href="http://arohatgi.info/WebPlotDigitizer/app/release_notes.txt">available here</a>. The user manual is <a href="http://arohatgi.info/WebPlotDigitizer/userManual.pdf" target="_blank">available here</a>.</p>
<p>&nbsp;</p>
<center>
<iframe width="560" height="315" src="http://www.youtube.com/embed/G8KPVVFrb6U" frameborder="0" allowfullscreen></iframe>
</center>
<p>&nbsp;</p>

<h2>Contact</h2>
<p>Ankit Rohatgi</p>
<p>
<ul>
    <li>E-Mail: ankitrohatgi@hotmail.com</li>
    <li>Website: <a href="http://arohatgi.info">http://arohatgi.info</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/rohatgi">https://www.linkedin.com/in/rohatgi</a></li>
</ul>
</p>
{% endblock %}
