{% extends "_base.html" %}
{% block content %}
<h2>Tutorial</h2>
<h3>Help!</h3>
<p>As you may have noticed, the tutorials and documentation have been lagging behind the software releases. If you wish to help out in any manner, then it would be highly appreciated.</p>

<h3>Plotly Article</h3>
<p>Here is a short article on the Plotly blog on how to use WebPlotDigitizer: <a href="http://blog.plot.ly/post/70293893434/automatically-grab-data-from-an-image-with">http://blog.plot.ly/post/70293893434/automatically-grab-data-from-an-image-with</a>

<h3>User Manual</h3>
<p>A draft version of the user manual can be obtained here: <a href="http://arohatgi.info/WebPlotDigitizer/userManual.pdf">http://arohatgi.info/WebPlotDigitizer/userManual.pdf</a>. This was intended for version 2.6.</p>

<h3>Videos</h3>
<p>The video tutorials below were intended for version 2.5.</p>
<p>&nbsp;</p>

<p><b>Part I: 2D XY Plot</b></p>
<p>&nbsp;</p>
<center>
<iframe width="560" height="315" src="http://www.youtube.com/embed/iHuoSfmz91k" frameborder="0" allowfullscreen></iframe>
</center>
<p>&nbsp;</p>

<p><b>Part II: Polar Plot, Ternary Diagram, Maps etc.</b></p>
<p>&nbsp;</p>
<center><iframe width="560" height="315" src="http://www.youtube.com/embed/VEPKQI7nRpg" frameborder="0" allowfullscreen></iframe></center>
{% endblock %}
