{% extends "_base.html" %}
{% block content %}
<h2>Tutorials</h2>
<h3>Articles from Plotly Team</h3>
<ol>
<li>A short blog post on how to use WebPlotDigitizer: <a href="http://blog.plot.ly/post/70293893434/automatically-grab-data-from-an-image-with">http://blog.plot.ly/post/70293893434/automatically-grab-data-from-an-image-with</a></li>
<li>An Instructable on WebPlotDigitizer and Plotly: <a href="http://ift.tt/1gaMDpP">http://ift.tt/1gaMDpP</a></li>
</ol>

<h3>User Manual</h3>
<p>A draft version of the user manual can be obtained here: <a href="http://arohatgi.info/WebPlotDigitizer/userManual.pdf">http://arohatgi.info/WebPlotDigitizer/userManual.pdf</a>.</p>

<h3>Videos</h3>
<p>The video tutorials below have been updated for version 3.6.</p>
<p>&nbsp;</p>

<p><b>Basic Tutorial</b></p>
<br/>
<p>Use the following links to skip to the relevant part of the tutorial video:</p>
<ol>
    <li><a href="http://youtu.be/P7GbGdMvopU" target="_blank">Introduction</a></li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=30s" target="_blank">Loading Images</a></li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=1m9s" target="_blank">2D XY Plot and Axes Calibration</a></li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=3m8s" target="_blank">Manual Extraction Mode</a></li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=4m22s" target="_blank">Automatic Extraction Mode</a>
        <ol>
            <li><a href="http://youtu.be/P7GbGdMvopU?t=4m38s" target="_blank">Mask</a></li>
            <li><a href="http://youtu.be/P7GbGdMvopU?t=5m19s" target="_blank">Color Selection</a></li>
            <li><a href="http://youtu.be/P7GbGdMvopU?t=6m22s" target="_blank">Averaging Window Algorithm</a></li>
            <li><a href="http://youtu.be/P7GbGdMvopU?t=7m15s" target="_blank">X Step with Interpolation Algorithm</a></li>
        </ol>
    </li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=9m7s" target="_blank">View and Export Digitized Data</a></li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=10m28s" target="_blank">Multiple Datasets</a></li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=12m38s" target="_blank">Distance Measurements with Maps and Microscope Images</a></li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=15m13s" target="_blank">Polar Diagram</a></li>
    <li><a href="http://youtu.be/P7GbGdMvopU?t=16m34s" target="_blank">Ternary Diagram</a></li>
    <li><a href="http://youtu.be/nS8acGi1b9o" target="_blank">Using Dates in WebPlotDigitizer</a></li>
</ol>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/P7GbGdMvopU?vq=hd720" frameborder="0" allowfullscreen></iframe>
</center>
<p>&nbsp;</p>

<p><b>Using Dates in WebPlotDigitizer</b></p>
<p>&nbsp;</p>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nS8acGi1b9o?vq=hd720" frameborder="0" allowfullscreen></iframe>
</center>
{% endblock %}
