<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="Description" content="Ankit Rohatgi"/>
<meta name="Keywords" content="Ankit Rohatgi, WebPlotDigitizer"/>
<meta name="Author" content="Ankit Rohatgi"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>Ankit Rohatgi</title>
<link rel="stylesheet" href="{{ base_dir }}css/styles.css">
</head>
<body>
<table id="mainTable" cellpadding="10">
<tr>
    <td colspan="2">
        <div id="headerTop">
            <div id="mainTitle">
                <table>
                    <tr><td><span id="websiteTitle">Ankit Rohatgi</span></td></tr>
                    <tr><td><span class="websiteSubtitle">Software Developer, <a href="http://www.ansys.com">ANSYS Inc.</a></span></td></tr>
                    <tr><td><span class="websiteSubtitle">Ph.D., Chemical Engineering, <a href="http://nd.edu">University of Notre Dame</a></span></td></tr>
                    <tr><td><span class="websiteSubtitle">B.Tech., Chemical Engineering, <a href="http://www.iitk.ac.in">Indian Institute of Technology Kanpur</a></span></td></tr>
                </table>
            </div>
            <div style="float:right;margin-top:40px;">
                <table>
                <tr><td align="right"><b>Location</b>: </td><td>&nbsp; Austin, Texas, USA</td></tr>
                <tr><td align="right"><b>E-Mail</b>: </td><td>&nbsp; ankitrohatgi@hotmail.com</td></tr>
                <tr><td align="right"><b>LinkedIn</b>: </td><td>&nbsp; <a href="https://www.linkedin.com/in/rohatgi">https://www.linkedin.com/in/rohatgi</a></td></tr>
                </table>
            </div>
        </div>
        <div id="navigationMenu">
            <a href="{{ base_dir }}index.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="{{ base_dir }}blog/index.html">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ base_dir }}contact.html">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </td>
    </tr>
<tr>
    <td id="contentTD" valign="top">
    {% block content %}{% endblock %}
    </td>
    <td id="sidebarTD" valign="top">
        <center>
        <p><a href="http://arohatgi.info/WebPlotDigitizer">WebPlotDigitizer</a></p>
        <br/>
        <p><a href="http://github.com/ankitrohatgi">GitHub</a></p>
        <br/>
        <p><a href="">PhD Thesis</a></p>
        <br/>
        <p><a href="">Flickr</a></p>
        <br/>
        <p><a href="https://twitter.com/ankit_rohatgi" class="twitter-follow-button" data-show-count="false">Follow @ankit_rohatgi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        <br/>
        </center>
    </td>
</tr>
<tr>
    <td colspan="2">
        <hr/>
        <p align="right" id="footerText">Copyright &copy; 2010-2014, Ankit Rohatgi - All Rights Reserved.</p>
    </td>
</tr>
</table>
</body>
</html>
