<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="Description" content="Ankit Rohatgi"/>
<meta name="Keywords" content="Ankit Rohatgi, WebPlotDigitizer"/>
<meta name="Author" content="Ankit Rohatgi"/>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<title>Ankit Rohatgi</title>
<link rel="stylesheet" href="{{ base_dir }}css/styles.css">
</head>
<body>
<table id="mainTable" cellpadding="10">
<tr>
    <td colspan="2">
        <h1>Ankit Rohatgi, PhD</h1>
        <div id="navigationMenu">
            <a href="{{ base_dir }}index.html">About Me</a>&nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="{{ base_dir }}blog/index.html">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </td>
    </tr>
<tr>
    <td id="contentTD" valign="top">
    {% block content %}{% endblock %}
    </td>
    <td id="sidebarTD" valign="top">
        <p><a href="http://arohatgi.info/WebPlotDigitizer">WebPlotDigitizer</a></p>
        <br/>
        <p><a href="http://github.com/ankitrohatgi">GitHub</a></p>
        <br/>
        <p><a href="http://www.linkedin.com/in/rohatgi">LinkedIn</a></p>
        <br/>
        <p><a href="http://etd.nd.edu/ETD-db/theses/available/etd-07172012-141644/unrestricted/RohatgiA072012D.pdf">PhD Thesis</a></p>
        <br/>
        <p><a href="https://www.flickr.com/photos/ankitrohatgi/">Flickr</a></p>
        <br/>
        <p><a href="https://twitter.com/ankit_rohatgi" class="twitter-follow-button" data-show-count="false">Follow @ankit_rohatgi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        <br/>
    </td>
</tr>
<tr>
    <td colspan="2">
        <p id="footerText">Copyright &copy; 2010-2014, Ankit Rohatgi - All Rights Reserved.</p>
    </td>
</tr>
</table>
</body>
</html>
