{% extends "_base.html" %}
{% block content %}
<div class="panel panel-default">
<!-- <div class="panel-heading"><b>Ankit Rohatgi</b></div> -->
<div class="panel-body">
    <div class="row">
        <div class="col-md-2">
            <img src="images/profile_picture.jpg" class="img-rounded img-responsive"/>
        </div>
        <div class="col-md-6">
            <h2>Ankit Rohatgi</h2>
            <p>Senior Software Developer, <a href="http://www.ansys.com">ANSYS Inc.</a></p>
            <p>Ph.D. Chemical Engineering, University of Notre Dame</p>
            <p>B.Tech. Chemical Engineering, Indian Institute of Technology Kanpur</p>
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-linkedin"></i> &nbsp;<a href="http://www.linkedin.com/in/rohatgi">http://www.linkedin.com/in/rohatgi</a></li>
                <li class="list-group-item"><i class="fa fa-twitter"></i> &nbsp;<a href="https://twitter.com/ankit_rohatgi">https://twitter.com/ankit_rohatgi</a></li>
                <li class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> &nbsp;<a href="mailto:ankitrohatgi@hotmail.com">ankitrohatgi@hotmail.com</a></li>
                <li class="list-group-item"><i class="fa fa-github"></i> &nbsp;<a href="https://github.com/ankitrohatgi">https://github.com/ankitrohatgi</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>My Interests</b></div>
            <p>
            <ul>
                <li>Scientific Computing</li>
                <li>Computer Vision</li>
                <li>Fluid Dynamics</li>
                <li>Machine Learning and Big Data</li>
                <li>Cloud Computing</li>
                <li>Applied Mathematics</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><b>My Opensource Projects</b></div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://arohatgi.info/WebPlotDigitizer">WebPlotDigitizer</a> - A popular web based data extraction tool</li>
                    <li class="list-group-item"><a href="https://github.com/ankitrohatgi/tarballjs">Tarballjs</a> - Read and write .tar files in the browser</li>
                    <li class="list-group-item"><a href="https://github.com/ankitrohatgi/digitizeR">digitizeR</a> - R package that brings a locally hosted WebPlotDigitizer to R</li>
                </ul>
        </div>
    </div>
</div>
{% endblock %}
