{% extends "_base.html" %}
{% block content %}
<h2>Summary</h2>
<p>PhD in Chemical Engineering from the University of Notre Dame with expertise in multiphase flows, suspension mechanics, hydrodynamic modeling, microfluidic device fabrication and computational fluid dynamics (CFD). Strong computational and experimental background. Also worked on parallel computing, UNIX administration and Web development.</p>
<br/>
<p>Currently working at ANSYS, Inc. developing Finite Element Method based engineering simulation software such as ANSYS Mechanical and Workbench.</p>
{% endblock %}
