<!DOCTYPE html>
<html>
<head>
<title>WebPlotDigitizer - Extract data from plot images or maps</title>
<link rel="stylesheet" href="{{ base_dir }}css/styles.css">
</head>
<body>
<table id="mainTable" cellpadding="10">
<tr>
    <td colspan="2">
        <div id="headerTop">
            <div id="mainTitle"><img src="{{ base_dir }}images/header.png"/></div>
            <div id="donateButton">
            {% include "_paypal.html" %}
            </div>
        </div>
        <div id="navigationMenu">
            <a href="{{ base_dir }}index.html">Home</a>&nbsp;&nbsp; 
            <a href="{{ base_dir }}development.html">Development</a>&nbsp;&nbsp;
            <a href="{{ base_dir }}citation.html">Citation</a>&nbsp;&nbsp;
            <a href="{{ base_dir }}blog/index.html">News</a>&nbsp;&nbsp;
            <a href="{{ base_dir }}tutorial.html">Tutorial</a>&nbsp;&nbsp;
        </div>
    </td>
    </tr>
<tr>
    <td id="contentTD" valign="top">
    {% block content %}{% endblock %}
    </td>
    <td id="sidebarTD" valign="top">
        <center>
        <a href="http://arohatgi.info/WebPlotDigitizer/app"><img src="http://arohatgi.info/WebPlotDigitizer/icons/launch.png" width="100"></a>
<a href="https://chrome.google.com/webstore/detail/blomnnpciekdhecimpnjfcchdicopdii"><img src="http://arohatgi.info/WebPlotDigitizer/icons/chrome.png" width="100"></a>
    </center>
    <center>
        <a href="http://arohatgi.info/WebPlotDigitizer/beta" target="_blank">Click here to try the latest unstable version (3.1)</a>
    </center>
    </td>
</tr>
<tr>
    <td colspan="2">
        <hr/>
        <span id="footerText">Copyright (C), 2010 - 2014 Ankit Rohatgi</span>
    </td>
</tr>
</table>
</body>
</html>
